<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875196313861-dhkrtvu0c7uj9dmjdvd2j005t85set70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875196313861-dhkrtvu0c7uj9dmjdvd2j005t85set70</string>
	<key>API_KEY</key>
	<string>AIzaSyBWr23L-dECHRfB6ZHFgBxNR696OVuEMhc</string>
	<key>GCM_SENDER_ID</key>
	<string>875196313861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.tmmEmenuPro</string>
	<key>PROJECT_ID</key>
	<string>tmm-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>tmm-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875196313861:ios:8e1e613e1d27af5ed4076c</string>
	<key>DATABASE_URL</key>
	<string>https://tmm-ios.firebaseio.com</string>
</dict>
</plist>